<section id="Inicio" class="flex flex-col items-center text-center px-4 text-gray-700 pb-12 pt-20 ">

  <div class="w-full h-48 relative flex justify-center items-center">
   <img src="/publicclass.png" alt="Fondo" class="w-5/12 h-full drop-shadow-md">
  </div>

  <div class="relative -mt-16">
    <br>
    <img src="/camila.jpg" alt="Cami" class="w-32 h-32 rounded-full border-4 border-pink-300 shadow-lg ">
  </div>

  <div class="text-center mt-4">
    <h1 class="text-3xl font-bold">María Camila Sánchez</h1>
    <p class="text-gray-800 mt-1">Desarrolladora de software Full Stack✨</p>
    <p class="text-sm text-gray-800 mt-1">
      Tecnologo en sistemas. Junior Developer. Soporte TI Google.<br>
    </p>

    <div class="mt-4">
    <a href="/CV-Maria-Sanchez.docx.pdf" download="Maria-Camila-Sanchez-CV.pdf" class=" bg-pink-400 text-white px-4 py-2 rounded-md text-sm font-semibold hover:bg-pink-500 transition duration:500">
    Download CV <span class="ml-1">📄</span>
    </a>
    </div>
  </div>
</section>