<section id="Sobremi" class="text-gray-700 p-5 lg:mb-10 border-t border-pink-200">
    <div class="lg:max-w-4xl sm:max-w-lg mx-auto">
      <br>
    <h2  class="text-3xl text-primary text-center font-semibold mb-4">Sobre mí</h2>
    <div class="space-y-6">
      <div>
        <br>
        <br>
        <p class="mt-2 text-base flex text-secondary">
          <span class="h-1 w-8 m-3 rounded-2xl bg-primary">
            </span> 
            Tecnólogo en análisis y desarrollo de sistemas de información. Mi formación en tecnología me ha brindado un sólido conjunto de
            habilidades que incluye el análisis de requerimientos, el diseño y desarrollo de aplicaciones, así como una rápida adaptación a
            nuevas tecnologías.
        </p>
        <br>
                <div class="flex flex-wrap lg:ml-10 mt-5 gap-3 text-white">
                <div class="flex items-center rounded-full bg-pink-400 px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">HTML</div>
                <div class="flex items-center rounded-full bg-pink-400  px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">CSS</div>
                <div class="flex items-center rounded-full bg-pink-400 px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">Bootstrap</div>
                <div class="flex items-center rounded-full bg-pink-400 px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">PL-SQL</div>
                <div class="flex items-center rounded-full bg-pink-400 px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">Java</div>
                <div class="flex items-center rounded-full bg-pink-400 px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">Git</div>
                <div class="flex items-center rounded-full bg-pink-400 px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">MySQL</div>
                <div class="flex items-center rounded-full bg-pink-400 px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">Spring Boot</div> 
                <div class="flex items-center rounded-full bg-pink-400 px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">TailwindCSS</div> 
                <div class="flex items-center rounded-full bg-pink-400 px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">Astro</div> 
                <div class="flex items-center rounded-full bg-pink-400 px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">PowerApps</div> 
                <div class="flex items-center rounded-full bg-pink-400 px-3 py-1 text-[10px] sm:text-xs font-medium leading-5 ">TI</div> 

            </div>
        </div>
</section>