<section id="Experiencia" class="text-black px-5 py-10 lg:mb-10 py-20 border-t border-pink-200">
  <div class="max-w-4xl mx-auto">
    <h2 class="text-3xl font-semibold text-center text-gray-700 mb-10">Experiencia</h2>

    <div class="space-y-8">
      <!-- Card 1 -->
      <div class=" rounded-2xl shadow-lg p-6 hover:scale-[1.02] transition-transform duration-300">
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-4">
          <div>
            <h3 class="text-xl font-bold text-gray-600">Desarrollador Software - Accenture</h3>
            <p class="text-sm text-pink-400">Enero 2024 - Julio 2024</p>
          </div>
          <p class="text-sm text-pink-400 font-semibold mt-2 sm:mt-0">Valledupar, Colombia</p>
        </div>
        <ul class="space-y-3 text-gray-600 list-disc list-inside pl-1">
          <li>Desarrollé una herramienta de estimación en Power Apps, mejorando la planificación y organización en la fábrica ETB.</li>
          <li>Analicé historias de usuario para optimizar tareas del equipo de trabajo.</li>
          <li>Añadí funcionalidades con PL-SQL en la plataforma BMC Remedy.</li>
          <li>Lideré sesiones con SonarQube asegurando estándares de calidad.</li>
        </ul>
      </div>

      <!-- Card 2 -->
      <div class=" rounded-2xl shadow-lg p-6 hover:scale-[1.02] transition-transform duration-300">
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-4">
          <div>
            <h3 class="text-xl font-bold text-gray-600">Wave - Plataforma Web</h3>
            <p class="text-sm text-pink-400">Enero 2024 - Marzo 2024</p>
          </div>
          <p class="text-sm text-pink-400 font-semibold mt-2 sm:mt-0">Valledupar, Colombia</p>
        </div>
        <ul class="space-y-3 text-gray-600 list-disc list-inside pl-1">
          <li>Plataforma web moderna y adaptable para venta de servicios móviles y hogar.</li>
          <li>Conexión a base de datos usando PHP y MySQL.</li>
          <li>Interfaces responsivas con HTML, CSS, JavaScript y Bootstrap.</li>
        </ul>
      </div>

      <div class=" rounded-2xl shadow-lg p-6 hover:scale-[1.02] transition-transform duration-300">
        <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-4">
          <div>
            <h3 class="text-xl font-bold text-gray-600">'Qué hay pa' hacer?' -  Plataforma turistica SENA</h3>
            <p class="text-sm text-pink-400">2021 - 2023</p>
          </div>
          <p class="text-sm text-pink-400 font-semibold mt-2 sm:mt-0">Valledupar, Colombia</p>
        </div>
        <ul class="space-y-3 text-gray-600 list-disc list-inside pl-1">
          <li>Plataforma web moderna creada para promover el turismo local de la ciudad de Valledupar.</li>
          <li>Participación en el análisis, diseño y desarrollo del sistema.</li>
          <li>Implementación de tecnologías web como HTML5, CSS, JavaScript, PHP y Bootstrap.</li>
          <li>Diseño de base de datos en MySQL, alojada en Clever Cloud.</li>
        </ul>
      </div>
    </div>

  </div>
</section>
