<nav class="fixed top-0 left-1/2 transform -translate-x-1/2  w-full max-w-7xl shadow-inner  bg-white z-50">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    <ul class="flex gap-8 mx-auto text-gray-700 text-base font-medium">
      <li><a href="#Inicio" class="hover:text-pink-300 transition-colors duration-200">Inicio</a></li>
      <li><a href="#Sobremi" class="hover:text-pink-300 transition-colors duration-200">Sobre mí</a></li>
      <li><a href="#Experiencia" class="hover:text-pink-300 transition-colors duration-200">Experiencia</a></li>
      <li><a href="#Proyectos" class="hover:text-pink-300 transition-colors duration-200">Proyectos</a></li>
      <li><a href="#Contacto" class="hover:text-pink-300 transition-colors duration-200">Contacto</a></li>
    </ul>
  </div>
  </nav>